body{
  background-color: #76ABAE;
  color: #F5F5F5;
}

a{
  color: #FAE7CB;
}

details{
  max-width: 600px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.warning{
  color: #FAE7CB;
}

.bdy{
  background-color: #76ABAE;
  color: #F5F5F5;
  text-align: center;
}

.left{
  text-align: left;
}
